@use 'config' as *;

:root {
  font-family: $font;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  position: relative;
  top: -25px;
  margin: auto;
  padding: 0;
  max-width: 1920px;
  background-color: $backgroundColor;
  height: calc(100vh - 25px);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul {
    list-style: none;
}

.navigation--spaceFiller {
  height: 30px;
}