$helpColor: #8E909F;
$backgroundColor: #E9EAEC;
$cardColor: #094c58;
$navColors: #094c58;
$elementsColor: #1A7275;
$infColor: #FAD02C;
$nextColor: #9AB8CE;

// messages colors
// $succes: ;
// $warning: ;
// $info: ;
// $danger: ;

$font: 'Roboto', sans-serif;
$breakpoint: 768px;
