$helpColor: #8E909F;
$backgroundColor: #E9EAEC;
$cardColor: #094c58;
$navColors: #eff0f6;
$elementsColor: #1A7275;
$infColor: #FAD02C;
$nextColor: #9AB8CE;

$font: 'Roboto', sans-serif;
$breakpoint: 768px;
