@use "config" as *;

.Post {
    width: 95%;
    margin: auto;
    background-color: $cardColor;
    color: $backgroundColor;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px 0;

    &__description {
        color: $cardColor;
        background-color: $backgroundColor;
        width: 95%;
        padding: 5px;

        margin: 0 auto 10px auto;
        border-radius: 5px;
    }

    &__image {
        width: 95%;
        margin: 0 2.5%;
        height: auto;
        border-radius: 5px;
    }

    &__buttons {
        padding: 3px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 75%;
        margin: 5px auto 0;
        border: 1px solid $backgroundColor;
        // background-color: $backgroundColor;
        border-radius: 15px;
        & li {
            color: red;
            border-radius: 15px;
            // box-shadow: 0 0 10px 2px $backgroundColor;
            filter: invert(88%) sepia(4%) saturate(87%) hue-rotate(179deg) brightness(110%) contrast(88%);
            width: 40px;
            height: 40px;
            // background-color: $backgroundColor;
        }

        &__likes {
            background-image: url("../assets/icons/like.svg");
            stroke: red;
            stroke-width: 1px
        }

        &__coments {
            background-image: url("../assets/icons/coments.svg");
        }
        
        &__dislikes {
            background-image: url("../assets/icons/dislike.svg");
        }
    }
}